@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Manrope:wght@300;400;500;600;700;800&display=swap');

/* body {
    font-family: 'Manrope', sans-serif;
} */

.cursive {
    font-family: 'Berkshire Swash', cursive;
    /* font-size: 1.5rem; */

}